.partner-card {
    padding: 35.064px 47.746px 34.643px 48px;
    border-radius: 12px;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .partner-img {
        width: 159.454px;
        height: 90.293px;
        aspect-ratio: 159.45/90.29;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}