@use '../abstracts/mixins' as *;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section-header {

    .section-title {
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 550;
        line-height: 120%;
    }
}