.input-with-label {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #CECECE;

    label {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        text-transform: uppercase;
    }

    input {
        color: #7E7E7E;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;

    }
}