@use '../abstracts/mixins' as *;


.about-us-container {

    .hero-image {
        height: 700px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .what-we-do {
        padding: 100px 50px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .section-header {
            display: flex;
            align-items: flex-start;
            gap: 16px;

            .text-line {
                display: flex;
                align-items: center;
                gap: 16px;
                flex: 1;

                span {
                    color: #000;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                    text-transform: capitalize;
                }

                .line {
                    height: 1px;
                    background: rgba(0, 0, 0, 0.50);
                    flex: 1;
                }

            }

            .section-title {
                text-align: right;
            }


        }

        .section-body {
            display: flex;
            justify-content: flex-end;

            .section-description {
                width: 50%;
                text-align: right;
            }

        }
    }

    .services-offer {
        padding: 32px 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mq(tablet-portrait-up) {
            padding: 32px 16px;
        }

        .section-header {
            display: flex;
            justify-content: center;
        }

        .section-actions {
            display: flex;
            justify-content: center;
        }

    }
}