@use '../abstracts/mixins' as *;

.blogs-container {

    .blogs-hero {
        padding: 100px 50px 70px 50px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        p {
            width: 50%;
        }

        @include mq(tablet-portrait-up) {
            padding: 50px 16px;

            p {
                width: 100%;
            }
        }
    }

    .most-recent-blogs {
        padding: 0 50px 100px 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 32px;
        row-gap: 50px;

        @include mq(tablet-portrait-up) {
            padding: 0 16px 50px 16px;

            grid-template-columns: repeat(1, 1fr);

        }
    }

}