.homepage-container {

    .hero-section {
        overflow: hidden;

        .hero-top {
            display: flex;
            flex-direction: column;
            padding: 50px;

            .hero-title {
                position: relative;

                &__line {
                    display: inline-block;
                    font-size: 64px;
                    font-weight: 700;
                    line-height: 1.1;
                    opacity: 0;
                    animation: heroLineIn 0.2s ease forwards;
                    margin-right: 5px;

                    &--1 {
                        animation-delay: .5s;
                    }

                    &--2 {
                        animation-delay: 1s;
                    }

                    &--3 {
                        animation-delay: 1.5s;
                    }

                    &--4 {
                        animation-delay: 2s;
                    }
                }

                img {
                    width: 85px;
                    height: 100px;
                    position: absolute;
                    bottom: -35px;
                    animation: imgLine 1.5s ease forwards;
                    animation-delay: 2s;
                    transform: translateX(1000px);
                }
            }

            .hero-description {
                margin-top: 16px;
                font-size: 16px;
            }

            .hover-button-white {
                margin-top: 32px;
            }
        }

        .hero-video-div {
            height: 700px;

            .hero-video {
                width: 100%;
                height: 700px;
                object-fit: cover;
            }
        }

        .hero-bottom {
            padding: 70px 50px;
            background-color: #000;
            display: flex;
            flex-direction: column;
            gap: 32px;

            .hero-bottom-title {
                color: #FFF;
                font-size: 32px;
                font-style: normal;
                font-weight: 550;
                line-height: 120%;

                span {
                    color: #83FAFC;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 550;
                    line-height: 120%;
                }
            }

            .hero-bottom-actions {
                display: flex;
                align-items: center;
                gap: 16px;

                .join-button {
                    padding: 12px;
                    text-decoration: none;
                    color: #FFF;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }

            .indicators-container {
                display: flex;
                flex-direction: column;
                gap: 24px;
                align-items: flex-end;

                .indicator {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 50%;
                    padding-bottom: 24px;
                    border-bottom: 1px solid #5f5f5f;

                    &:last-child {
                        border-bottom: none;
                        padding-bottom: 0;
                    }

                    span {
                        color: #fff;
                    }

                    .value {
                        color: #FFF;
                        font-family: Aspekta;
                        font-size: 56px;
                        font-style: normal;
                        font-weight: 550;
                        line-height: 120%;
                    }

                    .label {
                        color: #FFF;
                        font-family: Aspekta;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 450;
                        line-height: 120%;
                    }
                }

            }
        }
    }

    .selected-projects {
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .section-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .project-cards{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;
        }
    }

    @keyframes heroLineIn {
        from {
            opacity: 0;
            transform: translateY(-30px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes imgLine {
        from {
            opacity: 0;
            transform: translateX(1000px);
        }

        to {
            opacity: 1;
            transform: translateX(-30px);
        }
    }

}