@use '../abstracts/mixins' as *;


.partners-container {


    .partners-hero {
        padding: 100px 50px 50px 50px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include mq(tablet-portrait-up) {
            padding: 50px 16px;
        }
    }

    .partner-cards {
        padding: 0 50px 100px 50px;
        gap: 16px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @include mq(tablet-portrait-up) {
            grid-template-columns: repeat(2, 1fr);
            padding: 0px 16px 24px 16px;
        }


        @include mq(phone-only) {
            grid-template-columns: repeat(1, 1fr);
            padding: 0px 16px 24px 16px;
        }
    }

}