.portfolio-details-container {


    .hero-image {

        height: 719px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .portfolio-text {
        display: flex;
        gap: 32px;

        .intro {}

        .text {}
    }
}