@use '../abstracts/mixins' as *;

.portfolio-container {

    .hero-section {
        padding: 100px 60px 50px 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mq(tablet-portrait-up) {
            padding: 50px 16px 32px 16px;
        }

        .hero-header {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .badgets {
            display: flex;
            gap: 12px;
            justify-content: flex-end;

            @include mq(tablet-portrait-up) {
                justify-content: flex-start;
                flex-wrap: wrap;
            }

            .badget {
                padding: 10px 16px;
                border-radius: 99px;
                background: #E9E9E9;

                color: #000;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
            }
        }
    }

    .project-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        padding: 0 50px 100px 50px;

        @include mq(tablet-portrait-up) {
            grid-template-columns: repeat(1, 1fr);
            padding: 0 16px 50px 16px;
        }
    }

}